/**
*=============================================变量 begin=============================================
**/
:root {
  --style-minx-width: 1000px;
  --style-backgroup-color: #f3f3f4; 
  --style-color: #1ab394; 
  --style-color-hover:#179d82;
}

/**
*=============================================字体 begin=============================================
**/
@font-face {
	font-family:'Glyphicons Halflings';
	src:url('fonts/glyphicons-halflings-regular.woff') format('woff')
}

.glyphicon {
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale
}

.glyphicon-chevron-left:before {
	content: "\e079"
}

.glyphicon-chevron-right:before {
	content: "\e080"
}

.glyphicon-folder-open:before
{
	content:"\e118"
}

.glyphicon-resize-small:before {
	content: "\e097"
}

.glyphicon-download-alt:before {
	content: "\e025"
}

.glyphicon-link:before {
	content: "\e144"
}

.bootstrap-caret {
	margin-left: 2px;
	display: inline-block;
	vertical-align: middle;
	border-top: 8px solid;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent
	}
/**
*=============================================页面整体 begin=============================================
**/
body{
	min-width: var(--style-minx-width);
	overflow:scroll;
  margin: 0px;
  padding:0px;
  width: 100%;
  height: 100%;
  background-color: white;
}

a{ text-decoration:none; } 

.line{
    width: 60px;
    height: 1px;
    margin: 10px auto 0;
    margin-bottom: 10px;
    border-bottom: 2px solid var(--style-color);
}
.lineTitle{
	font-size:28px;
	color:  rgba(0, 0, 0, 0.54);
  font-family: 'Open Sans', helvetica, arial, sans-serif;
}
.lineDesc{
	color:#aeaeae;
}
.lineColor-white{
	color:  white;
}

.divCenter{
	text-align: center;
}


/**
*=============================================菜单 begin=============================================
**/
.menu{
  background-color: var(--style-backgroup-color);
  border-top: none;
	width: 100%;
	height: 111px;
	background: transparent;
}

.menu .title{
	float:right;
	margin-top:7px;
	margin-right:100px;
}

.menu .title li{
	float:right;
	list-style-type:none;
}

.menu .title li a{
	letter-spacing: 1px;
	font-weight: 700;
	font-size: 14px;
	margin-left:10px;
	color:white; /* 设置文字颜色 */
	text-decoration:none; /* 去掉下划线 */
  padding:3px 5px 3px 5px;
}

.menu .title li a:hover{
    color: var(--style-color);
    background-color: white;
    border-radius: 2px;
		cursor:pointer;
}

.menu .logo{
	z-index: 99;  /**不能大于弹出灰层100*/
	display: inline-block;
	margin-left:180px;
  background-color: var(--style-backgroup-color);
  padding:1px 10px 2px 10px;
  border-radius: 0px 0px 5px 5px;
}

.menu .logo img{
	width: 90px;
}

/**
*=============================================菜单下拉 begin=============================================
**/
.menuDown{
	z-index:2;
  background-color: var(--style-backgroup-color);
  border: 1px solid;
  border-top: none;
  border-left: none;
  border-right: none;
	width: 100%;
	height: 72px;
}

.menuDown .logo img{
	width: 55px;
}

.menuDown .title li a{
	color:#676a6c; 
}

.menuDown .title li a:hover{
    color: var(--style-color);
    background-color: var(--style-backgroup-color);
}

/**
*=============================================banner begin=============================================
**/
.banner{
	  padding-top: 130px;
    padding-left: 150px;
    padding-right: 100px;
		color:white;
    height: 370px;
		font-size:20px;
}

.bannerTitle{
}
.bannerText{
    font-size: 15px;
}
.bannerText span{
		margin-right: 5px;

}

.banner_scroll_left{
		position: absolute;
		height: 250px;
		width:30px;
	  font-size: 26px;
	  margin-left: 50px;
    padding-top: 250px;
    color: aliceblue;
}

.banner_scroll_right{    
			position: absolute;
			height: 250px;
			width:30px;
	    font-size: 26px;
	    margin-right: 50px;
	    color: aliceblue;
	    top: 0px;
}

.banner_scroll_right:hover,.banner_scroll_left:hover{
	cursor:pointer;
	color: var(--style-color);
}
/**
*参考 --style-minx-width 的值。
**/
/*页面最小超过XXX*/
@media (min-width: 1000px) { 
	.banner_scroll_right{ 
		/*海报右边按钮位置调整对齐*/ 
	    padding-top: 250px;
		/*海报右边按钮固定*/   
	    right: 0px;
	}
	.menu{
		/*菜单固定，随着滚动条滚动*/
		position: fixed;
	}	

} 

/*页面最大没有xxxx*/
@media (max-width: 1000px) { 
	.banner_scroll_right{ 
		/*海报右边按钮位置调整对齐*/ 
	    padding-top: 323px;
	    margin-left: 900px;
	}

	
} 

/**
*=============================================support begin=============================================
**/
.support_1_1{
	color:#676a6c;
	padding:15px;
	font-size:18px;
}
.support table{
	color: #aeaeae;
  font-size: 12px;
}
.support table td .title{
  font-size: 16px;
  color:var(--style-color);
}
.support table td{
	padding:10px;
}
.support table td br{
	margin-top:5px;
}

/**
*=============================================showDatas begin=============================================
**/

.showDatas table td{
  font-size: 16px;
  color:#aeaeae;
  padding: 20px;
}
.showDatas table td:hover{
  font-size: 16px;
  color:var(--style-color);
  padding: 20px;
  cursor:pointer;
}

.showDatasEjectImg img{
	max-width: 95%;
}
/**
*=============================================文档中心 begin=============================================
**/

.document a{
	color: #aeaeae;
}

.document .bodyDiv{
	display: inline-block; 
	height:250px;
}

.document table{
	color: #aeaeae;
  font-size: 12px;
}

.document table td .title{
  font-size: 16px;
  color:var(--style-color);
}

.document .documentSpan{
    font-size: 16px;
  	cursor:pointer;
}

.document .documentSpan:hover{
	  color:var(--style-color);
}

/*页面最小超过XXX*/
@media (min-width: 1200px) { 
	.documentBodyDiv1{
		width:500px;
	}

} 

/*页面最大没有xxxx*/
@media (max-width: 1200px) { 
	.documentBodyDiv1{
		width:350px;
	}

} 



/**
*=============================================download begin=============================================
**/

.download a{
	color: #aeaeae;
}

.download .bodyDiv{
	display: inline-block; 
	height:450px;
}

.download table{
	color: #aeaeae;
  font-size: 12px;
}
.download table td .title{
  font-size: 16px;
  color:var(--style-color);
}
.download table td .title2{
  font-size: 16px;
  color:#aeaeae;
}

.download .downloadDesc{
	margin-top:15px;
  font-size: 14px;
}

.download .downloadDesc .desc{
    padding-left: 32px;
    padding-top: 8px;
}

.download .downloadLink{
  	cursor:pointer;
    font-size: 16px;
}

.download .downloadLink:hover{
	  color:var(--style-color);
}


/*页面最小超过XXX*/
@media (min-width: 1200px) { 
	.downloadBodyDiv1{
		margin-left: 150px;
	}

} 

/*页面最大没有xxxx*/
@media (max-width: 1200px) { 
	.downloadBodyDiv1{
		margin-left: 50px;
	}

} 


/**
*=============================================team begin=============================================
**/

.team{
	display: flex;
	height: 320px;
}
.team_scroll_left{
	  font-size: 26px;
	  margin-left: 50px;
    margin-right: 50px;
    padding-top: 160px;
    color: aliceblue;
}
.team_scroll_right{
	  font-size: 26px;
	  margin-left: 50px;
    margin-right: 50px;
    padding-top: 160px;
    color: aliceblue;
}

.team_scroll_left:hover,.team_scroll_right:hover{
	cursor:pointer;
	color: var(--style-color);
}

.team .context{width:100%;float:left;}
.team .context ul{display:block;}
.team .context li{float:left;display:inline;text-align:center;}

/**
*js 代码拼写的teamDiv
**/
.teamDiv{
	padding-top: 10px;
	background-color: white;
	margin-left: 10px;
	height: 280px;
}

.teamMainDiv{  
    background-color: rgba(10, 15, 28, 0.7);;
}
.teamMainDivTop{  
		padding-top: 10px;
		margin-bottom: -16px;
}
.teamimg{
		width:80px;
		height:90px;
		border-radius: 10px;
}
.teamBodyDiv{
	text-align: center;
	width:160px;
	margin-left:10px;
	margin-right: 10px;
	height: 320px;
}
.teamUserName{
    font-size: 16px;
    margin: 5px;
}
.teamUserDesc{
		color:rgba(80, 84, 88, 0.64);;
	  font-family: monospace;
	  font-size: 13px;
}
.githubimg{
		margin-top:5px;
		width:15px;
		height:15px;
}



/**
*=============================================contact begin=============================================
**/
.contactMain{
	  background-color: #f4f4f4;
    height: 500px;
	  background-image: url(img/bg/word_map.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

.contactMain .titleDiv{
	padding-top:30px;
}
.contactMain .descDiv{
	padding-top: 20px;
	font-size: 13px;
	color:  rgba(0, 0, 0, 0.54);
}
.contactMain .descDiv .title{
  color: #179d82;
  font-weight: 700;
}
.contactMain .descDiv table td{
	padding-left: 70px;
  padding-right: 30px;
	text-align:left;
}
.contactMain .emailDiv{
	padding-top: 20px;
}
.contactMain .emailDiv .email{
	float:left;
  padding: 10px 20px;
  color: white; 
  background-color: var(--style-color);
	border-radius: 4px;
}
.contactMain .emailDiv .email:hover{
		background-color: var(--style-color-hover);
    border-color: var(--style-color-hover);
    color: #FFFFFF;
}
.contactMain .copyDiv{
	padding-top: 20px;
	font-size: 13px;
	color:#aeaeae;
  font-weight: 700;
}

.contactMain .qrcode img{
	width:200px;	
}
