.container {
  border-radius: 2px;
  text-align: center;
  padding: 30px 0;
}

.title {
  font-size: 36px;
  color: #333333;
}
.img {
  margin-top: 50px;
  width: 1000px;
}
.line {
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  width: 50px;
  height: 2px;
  background-color: #69c1ed;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0.3rem 0;
  }
  .title {
    font-size: 0.48rem;
  }
  .img {
    margin-top: 0.5rem;
    width: 95%;
  }
  .line {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.1rem;
    width: 0.5rem;
  }
}
