.container {
  border-radius: 2px;
  text-align: center;
  padding: 30px 0;
}
.anchor {
  height: 60px;
  margin-top: -60px;
}
.title {
  margin-top: 30px;
  font-size: 36px;
  color: #333333;
  margin-bottom: 30px;
}
.tab {
  display: inline-block;
  width: 270px;
  font-size: 20px;
  color: #4a4a4a;
  text-decoration: none !important;
  margin: 5px;
  line-height: 45px;
  border: 2px solid #dcdbdb;
  border-radius: 3px;
}
.tab:hover {
  background: #f5f5f5;
  color: #4a4a4a;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0.5rem 0;
    margin-top: 0.86rem;
  }
  .anchor {
    height: 0.3rem;
  }
  .title {
    display: none;
  }
  .tab {
    width: 6.5rem;
    font-size: 0.2rem;
    margin: 0.1rem;
    line-height: 0.6rem;
    border-radius: 3px;
  }
}
