* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  min-width: 1200px;
  font-size: 14px;
}
li {
  list-style: none;
}
@media screen and (max-width: 1024px) {
  body {
    min-width: 0;
    font-size: 0.24rem;
  }
}
