.anchor {
  margin-top: -70px;
}
.container {
  background-size: cover;
  background: url("./bcg.png") center center;
  background-size: 100%;
  border-radius: 2px;
  text-align: center;
  color: #ffffff;
  margin-top: 70px;
}
.content {
  min-width: 1000px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 10px;
}
.line {
  margin: 5px auto;
  width: 50px;
  height: 2px;
  background-color: #69c1ed;
}
.title {
  font-size: 36px;
}
.tab {
  text-align: left;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  padding: 20px;
}
.tab1 {
  text-align: left;
  width: 320px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  padding: 20px;
  margin-left: 50px;
}
.tab2 {
  text-align: left;
  width: 260px;
  display: inline-block;
  vertical-align: top;
  line-height: 20px;
  padding: 20px;
}
.img {
  width: 150px;
  height: 150px;
  display: block;
  margin-top: 20px;
}
.button {
  display: block;
  width: 100px;
  text-align: center;
  text-decoration: none !important;
  margin-top: 16px;
  padding: 5px;
  border: 1px solid #69c1ed;
  border-radius: 2px;
  color: #69c1ed;
}
.org {
  text-align: center;
  color: #ffffff;
  height: 40px;
  padding: 10px;
  background: rgba(8, 8, 8, 0.9);
}
.email {
  display: block;
  width: 120px;
  text-align: center;
  text-decoration: none !important;
  margin-top: 20px;
  line-height: 34px;
  border: 1px solid #69c1ed;
  color: #69c1ed;
  border-radius: 3px;
}
.email:hover {
  border: 1px solid #ffffff;
  color: #ffffff;
}
@media screen and (max-width: 1024px) {
  .container {
    font-size: 0.24rem;
    line-height: 0.36rem;
    background: #002c47 url("./bcgm.jpg") center center;
    background-size: cover;
  }
  .content {
    min-width: 0;
  }
  .title {
    font-size: 0.48rem;
  }
  .tab {
    text-align: center;
    width: 100%;
    vertical-align: top;
    line-height: 0.25rem;
    font-size: 0.18rem;
    padding: 20px;
  }
  .tab1 {
    text-align: center;
    width: 100%;
    vertical-align: top;
    line-height: 0.25rem;
    font-size: 0.18rem;
    padding: 0.2rem;
    margin-left: 0;
  }
  .tab2 {
    text-align: center;
    width: 100%;
    line-height: 0.25rem;
    font-size: 0.18rem;
    padding: 20px;
  }
  .img {
    width: 2.5rem;
    height: 2.5rem;
    display: block;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .email {
    font-size: 0.24rem;
    width: 3.2rem;
    margin-top: 0.2rem;
    color: #ffffff;
    background-color: #01a0b5;
    line-height: 0.5rem;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
  }
  .email:hover {
    border: 1px solid #0395a8;
    color: #ffffff;
    background: #59aad2;
  }
  .line {
    margin: 0.2rem auto;
    width: 0.5rem;
  }
  .org {
    text-align: center;
    color: #4a4a4a;
    height: 0.67rem;
    padding: 0.1rem;
    background: #f5f5f5;
  }
}
