.container {
  margin-top: 70px;
}
.container2 {
  text-align: center;
  padding: 30px 0;
  background: #f5f5f5;
}
.head {
  font-size: 36px;
  color: #4a4a4a;
}
.tab {
  background-color: #ffffff;
  padding: 10px;
  display: inline-block;
  width: 390px;
  font-size: 20px;
  color: #4a4a4a !important;
  text-decoration: none !important;
  margin: 5px 5px 50px 15px;
}
.tab:hover {
  background: #f5f5f5;
}
.body {
  width: 1200px;
  color: #4a4a4a;
  background: #ffffff;
  margin: 20px auto 80px;
  padding: 40px 20px 50px 56px;
  text-align: left;
}
.line {
  display: block;
  color: #000000;
  text-decoration: none !important;
  line-height: 50px;
}
.line:hover {
  color: #69c1ed;
}
@media screen and (max-width: 1024px) {
  .container {
    margin-top: 0.96rem;
    margin-left: auto;
    margin-right: auto;
  }
  .container2 {
    border-radius: 2px;
    padding: 0.3rem 0;
    background-color: #ffffff;
  }
  .head {
    display: none;
  }
  .tab {
    border: 2px solid #dcdbdb;
    width: 6.84rem;
    line-height: 0.74rem;
    font-size: 0.32rem;
    padding: 0;
    margin: 0.15rem 0;
  }
  .tab:hover {
    color: #69c1ed;
  }
  .body {
    width: 100%;
    margin: 0;
    padding: 0 0 0 0.45rem;
  }
  .line {
    line-height: 0.6rem;
    font-size: 0.24rem;
  }
}
