.container {
  border-radius: 2px;
  text-align: center;
  padding: 30px 0;
  margin-top: 30px;
}
.anchor {
  height: 60px;
  margin-top: -60px;
}
.title {
  margin-top: 30px;
  font-size: 36px;
  color: #333333;
}
.img {
  margin-top: 50px;
  width: 1000px;
}
@media screen and (max-width: 1024px) {
  .container {
    padding-bottom: 0.3rem;
    margin-top: 0.3rem;
  }
  .anchor {
    height: 0.3rem;
  }
  .title {
    display: none;
  }
  .img {
    margin-top: 0.5rem;
    width: 100%;
  }
}
