.container {
  background: #f7f8fa;
  border-radius: 2px;
  text-align: center;
}
.content {
  background: #f7f8fa;
  min-width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 30px;
}

.line {
  margin: 6px auto 30px;
  width: 50px;
  height: 2px;
  background-color: #69c1ed;
}
.tab1 {
  width: 100%;
}
.title {
  font-size: 36px;
  color: #4a4a4a;
}
.tip {
  color: #9b9b9b;
}
@media screen and (max-width: 1024px) {
  .container {
    font-size: 0.24rem;
    line-height: 0.36rem;
    min-height: 2rem;
  }
  .content {
    margin: 0 auto;
    min-width: 0;
  }
  .title {
    font-size: 0.48rem;
  }
  .line {
    width: 0.5rem;
    margin: 0.2rem auto 0.3rem;
  }
}
